# transpiled files and dependencies
node_modules

# junk files
package-lock.json
.existing-boxes
.matrix-checksum
.DS_Store
Thumbs.db
modular-matrix/javascript/modular.matrix.mjs
modular-matrix/javascript/modular.matrix~.mjs
